<header class="site-header" role="banner">

  <div class="wrapper">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <div style="margin-top: -10px;">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <span class="site-sub-title"> <span style="text-decoration: line-through;"> Everyone is a CEO &middot; Every CEO needs AI</span>
      </div>
      
      <!-- Language Toggle -->
      <div class="language-toggle">
        <ul class="language-list">
          {% for lang in site.languages %}
            <li>
              {% if lang == site.active_lang %}
                <span class="language-link active">{{ site.languages[lang] }}</span>
              {% else %}
                <a class="language-link" href="{% if lang == site.default_lang %}/{% else %}/{{ lang }}/{% endif %}">{{ site.languages[lang] }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="site-top-menu">
      <a href="{% link pages/webinars.md %}">{% if site.active_lang == 'id' %}Webinar Gratis{% else %}Free Webinars{% endif %}</a> &middot;
      <a href="{% link pages/books.md %}">{% if site.active_lang == 'id' %}Buku yang Saya Tulis{% else %}Books I Wrote{% endif %}</a> &middot;
    </div>

  </div>
</header>
