<header class="site-header" role="banner">

  <div class="wrapper">

    <div style="margin-top: -10px;">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <span class="site-sub-title"> <span style="text-decoration: line-through;"> Everyone is a CEO &middot; Every CEO needs AI</span>
    </div>

    <div class="site-top-menu">
      <a href="{% link pages/webinars.md %}">Free Webinars</a> &middot;
      <a href="{% link pages/books.md %}">Books I Wrote</a> &middot;
    </div>

  </div>
</header>
