---
layout: default
---
<style>
  .post-header .page-subtitle {
    margin: 12px 0 0 0;
    padding: 0;
    font-size: 19px !important;
    color: #666;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    max-width: 640px;
  }
</style>
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <p class="page-subtitle">{{ page.subtitle | escape }}</p>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
